
  <div class="l-main-col">


    <div id="home">
      <% if @vote && @contents.size<1 %>
      你全部审核完了，绝对是个好员工！赶紧找领导加薪。
      <%
      end
        @contents.each {|c|%>
          <div class="feeds-item">
          <h3><a href="/view/<%=c.id%>" target="_blank" class="feeds-item-more"><%=c.title%></a></h3>
          <div class="feeds-item-detail clearfix ">
                    <% if c.cover %>
           <p class="feeds-item-pic"><a href="<% c.url %>" target="_blank" class="feeds-item-more"><img src="/<%=c.cover%>"></a></p>
                    <% end %>
                    <p class="feeds-item-text"><%=c.description%><a href="/view/<%=c.id%>" target="_blank" class="feeds-item-more">[详细]</a> </p>
                 <p class="feeds-item-info">
                    <span><%=c.created_at%> </span>
                    <span>来源：<a href="/<%=c.source%>"><%=c.source%></a></span>
                    <% c.cat.each_key {|category| %>
                    <a href="/<%=category%>"><%=category%></a>
                    <% } %>
                 </p>   
                 <% if @vote %>
                 <p class="feeds-item-info">
                    <a href="/vote?content_id=<%=c.id%>&vote=2"><i class="grade-s  s5 "></i>太酷了</a> 
                    <a href="/vote?content_id=<%=c.id%>&vote=1"><i class="grade-s  s3 "></i>有点意思</a> 
                    <a href="/vote?content_id=<%=c.id%>&vote=-1"><i class="grade-s  s1 "></i>很无聊</a>
                 </p>
                <% end %>
                 <p class="feeds-item-info">
                  <% c.cat.each {|category,keys| 
                    keys.each{|k|%>
                  <a href="/word/?w=<%=k%>"><%=k%></a>
                  <% }} %>
                 </p>
             </div>
           </div>
      <% } %>
    </div>
    <!-- 分页链接 -->
    <div class="pull-right pages">
      <%=will_paginate(@contents, :prev_label=>'Previous', :next_label=>'Next', :separator=>" | ") %>  
    </div>

</div>
<div class="l-right-col">
  <% 
  if @hot_artical && @hot_artical.size>0 
  %>
  <div class="mod" id="hot_artical" alog-group="log-hotartical">      
    <div class="hd"><h3>今日热门文章<span>HOT</span></h3></div>
    <div class="bd">
        <ul class="artical-top">
          <% @hot_artical.each { |c| %>
            <li class="first-item clearfix" style="padding-top:13px;padding-bottom:10px;">
                <span>
                    <a href="/view/<%=c.id%>" target="_blank">
                        <img src="<%=c.cover%>" style="height: 78px; width: 120px;">
                    </a>
                </span>
                <p style="margin-left:132px;">
                    <a href="/view/<%=c.id%>" style="font-weight:normal;letter-spacing: 0.2px;color:#333;"><%=c.title%></a>
                </p>
                <p style="width:126px;margin-left:132px;">
                    <span style="color: #bbb;font-style: normal;font-size: 12px;width: auto;">总分(<%=c.vote%>)</span>
                </p>
            </li>
          <% } %>
        </ul>
    </div>
  </div>
  <% end %>

  <% if @hot_word %>
  <div class="mod" id="tags" alog-group="log-tags">
      
      <div class="hd"><h3>今日最热关键词<span>TAG</span></h3></div>
      <div class="bd">        
        <% @hot_word.each {|w| %>
          <a href="/word?w=<%=w%>" target="_blank"><%=w%></a>
        <% } %>
      </div>
  </div>
  <% end %>
</div>
