<%
content_for :title do
   if @title
     @title
   else
%>首页<%
   end
end
%>
<% def relative_time(start_time)
     diff_seconds = (Time.now - start_time).to_i
     case diff_seconds
       when 0 .. 59
         "1分钟之内"
       when 60 .. (3600-1)
         "#{diff_seconds/60}分钟前"
       when 3600 .. (3600*24-1)
         "#{diff_seconds/3600}小时前"
       when (3600*24) .. (3600*24*30)
         "#{diff_seconds/(3600*24)}天前"
       else
         start_time.strftime("%Y-%m-%d")
     end
   end %>
  <div class="l-main-col">


    <div id="home">
      <% if @vote && @contents.size<1 %>
      没有待审核的文章，休息一会再来吧。
      <%
      end
        @contents.each {|c|%>
          <div class="feeds-item">
          <h3><a href="/content/<%=c.id%>" target="_blank\"<%=c.id%>\"" class="feeds-item-more"><%=c.title%></a></h3>
          <div class="feeds-item-detail clearfix ">
                    <% if c.cover
                       cover = c.cover
                       cover = "/"+cover unless cover[0] == '/' || cover.include?('http://')
                    %>
           <p class="feeds-item-pic"><a href="/content/<%=c.id%>" target="_blank\"<%=c.id%>\"" class="feeds-item-more"><img src="<%=cover%>"></a></p>
                    <% end %>
                    <p class="feeds-item-text"><%=raw(c.description)%><a href="/content/<%=c.id%>" target="_blank\"<%=c.id%>\"" class="feeds-item-more">[详细]</a> </p>
                 <p class="feeds-item-info">
                    <span><% if c.publishtime %> <%=relative_time(c.publishtime)%> <% else %> <%=relative_time(c.created_at)%> <% end %> </span>
                    <span><%= link_to "评论(#{c.comments.size})", content_path(c)+"#comments", {:target=>"_blank\"#{c.id}\""}%></span>
                    <!--<span>来源：<a href="/<%=c.source%>"><%=c.source%></a></span>-->
                    <!--
                    <% if c.cat 
                      c.cat.each_key {|category| %>
                    <a href="/<%=category%>"><%=category%></a>
                    <% } 
                    end%>
                    -->
                    <% if current_user %>
                       <% if can? :manage, :Content %>
                        <%= link_to "编辑", edit_content_path(c) %>|
                        <% if c.published %>
                          <%= link_to "取消发布", 'javascript:publish('+c.id.to_s+')', id:"publish_#{c.id}"%>
                        <% else %>
                        <%= link_to "发布", 'javascript:publish('+c.id.to_s+')', id:"publish_#{c.id}" %>
                        <% end %>
                      <% end %>
                    <% end %>
                 </p>   
                 <% if @vote %>
                 <p class="feeds-item-info">
                    <a href="/vote?content_id=<%=c.id%>&vote=2"><i class="grade-s  s5 "></i>太酷了</a> 
                    <a href="/vote?content_id=<%=c.id%>&vote=1"><i class="grade-s  s3 "></i>有点意思</a> 
                    <a href="/vote?content_id=<%=c.id%>&vote=-1"><i class="grade-s  s1 "></i>很无聊</a>
                 </p>
                <% end %>
                 <p class="feeds-item-info">
                  <!--
                  <% if c.cat 
                    c.cat.each {|category,keys| 
                    keys.each{|k|%>
                  <a href="/word/?w=<%=k%>"><%=k%></a>
                  <% }} 
                  end%>
                  -->
                  <% if can? :favorite, :Content %>
                      <% if c.favorite %>
                        <%= link_to "取消收藏", 'javascript:favorite('+c.id.to_s+')', id:"favorite_#{c.id}"%>
                      <% else %>
                      <%= link_to "收藏", 'javascript:favorite('+c.id.to_s+')', id:"favorite_#{c.id}" %>
                      <% end %>
                      <% if c.like %>
                        <%= link_to "取消赞", 'javascript:like('+c.id.to_s+')', id:"like_#{c.id}"%>
                      <% else %>
                      <%= link_to "赞", 'javascript:like('+c.id.to_s+')', id:"like_#{c.id}" %>
                      <% end %>
                  <% else %>
                       <%= link_to "收藏", '/favoritelogin/'+c.id.to_s %>
                       <%= link_to "赞", '/likelogin/'+c.id.to_s %>
                  <% end %>
                 </p>
             </div>
           </div>
      <% } %>
    </div>
    <!-- 分页链接 -->
    <div class="pull-right pages">
      <%=will_paginate(@contents, :prev_label=>'<', :next_label=>'>', :separator=>" | ") %>  
    </div>

</div>
<div class="l-right-col">
  <% 
  if @hot_artical && @hot_artical.size>0 
  %>
  <div class="mod" id="hot_artical" alog-group="log-hotartical">      
    <div class="hd"><h3>今日热门文章<span>HOT</span></h3></div>
    <div class="bd">
        <ul class="artical-top">
          <% @hot_artical.each { |c| %>
            <li class="first-item clearfix" style="padding-top:13px;padding-bottom:10px;">
                <span>
                    <a href="/view/<%=c.id%>" target="_blank">
                        <img src="<%=c.cover%>" style="height: 78px; width: 120px;">
                    </a>
                </span>
                <p style="margin-left:132px;">
                    <a href="/view/<%=c.id%>" style="font-weight:normal;letter-spacing: 0.2px;color:#333;"><%=c.title%></a>
                </p>
                <p style="width:126px;margin-left:132px;">
                    <span style="color: #bbb;font-style: normal;font-size: 12px;width: auto;">总分(<%=c.vote%>)</span>
                </p>
            </li>
          <% } %>
        </ul>
    </div>
  </div>
  <% end %>

  <% if @hot_word %>
  <div class="mod" id="tags" alog-group="log-tags">
      
      <div class="hd"><h3>今日最热关键词<span>TAG</span></h3></div>
      <div class="bd">        
        <%
          size = 0 
          @hot_word.each {|k,v| 
            
            if (v>3 || size<=10) && k!="互联网" && k!="黑马" && k!="企业" && k!="下载" && k!="增长"
              size+=1
        %>
          <a href="/word?w=<%=k%>" target="_blank"><%=k%>(<%=v%>)</a>
        <% end 
      } %>
      </div>
  </div>
  <% end %>

  <% if @voted %>
  <div class="mod" id="tags" alog-group="log-tags">
      
      <div class="hd"><h3>今日审核作者排序<span>VOTE</span></h3></div>
      <div class="bd">        
        <%
          size = 0 
          @voted.each {|v| 
        %>
          <span>
            <%=v.user_id%> : <%=v.cnt%></span><br>
        <%  
      } %>
      </div>
  </div>
  <% end %>
  <% if current_user && @favorites %>

      <div class="mod" id="hot_artical" alog-group="log-hotartical">
        <div class="hd"><h3>我的收藏<span>FAVORITE</span></h3></div>
        <div class="bd">
          <ul class="artical-top">
            <% @favorites.each {|f|
                c = f.content
            %>
                <li class="first-item clearfix" style="padding-top:13px;padding-bottom:10px;">
                <span>
                    <a href="/content/<%=c.id%>" target="_blank">
                      <img src="<%=c.cover%>" style="height: 78px; width: 120px;">
                    </a>
                </span>
                  <p style="margin-left:132px;">
                    <a href="/content/<%=c.id%>" style="font-weight:normal;letter-spacing: 0.2px;color:#333;"><%=c.title%></a>
                  </p>

                </li>
            <% } %>
            <li><a href="/myfavorite"> >>>查看更多收藏<<< </a></li>
          </ul>

        </div>
      </div>
  <% end %>
</div>
