


    <div id="home">
      <% @contents.each {|c|%>
          <div class="feeds-item">
          <h3><a href="/view/<%=c.id%>" target="_blank" class="feeds-item-more"><%=c.title%></a></h3>
          <div class="feeds-item-detail clearfix ">
                    <% if c.cover %>
           <p class="feeds-item-pic"><a href="<% c.url %>" target="_blank" class="feeds-item-more"><img src="/<%=c.cover%>"></a></p>
                    <% end %>
                    <p class="feeds-item-text"><%=c.description%><a href="/view/<%=c.id%>" target="_blank" class="feeds-item-more">[详细]</a> </p>
                 <p class="feeds-item-info">
                    <span><%=c.created_at%> </span>
                    <span>来源：<a href="/<%=c.source%>"><%=c.source%></a></span>
                    <% c.cat.each {|category| %>
                    <a href="/<%=category%>"><%=category%></a>
                    <% } %>
                 </p>   
                 <p class="feeds-item-info"><a href="/vote?content_id=<%=c.id%>&vote=2">太酷了</a> <a href="/vote?content_id=<%=c.id%>&vote=1">有点意思</a> <a href="/vote?content_id=<%=c.id%>&vote=-1">很无聊</a></p>
             </div>
           </div>
      <% } %>
    </div>
    <!-- 分页链接 -->
    <div class="pull-right pages">
      <%=will_paginate(@contents, :prev_label=>'Previous', :next_label=>'Next', :separator=>" | ") %>  
    </div>



