<% content_for :title do %><%=@content.title%><% end %>
<div id="page">
 <h2><%=@content.title%></h2>
 <p class="meta"><%=@content.created_at%>
   <% if current_user %>
       <% if can? :manage, :Content %>
           <%= link_to "编辑", edit_content_path(@content) %>|
           <% if @content.published %>
               <%= link_to "取消发布", 'javascript:publish('+@content.id.to_s+')', id:"publish_#{@content.id}"%>
           <% else %>
               <%= link_to "发布", 'javascript:publish('+@content.id.to_s+')', id:"publish_#{@content.id}" %>
           <% end %>
       <% end %>
   <% end %>
 	<div class="bdsharebuttonbox" data-tag="share_1">
		<a class="bds_tsina" data-cmd="tsina"></a>
		<a class="bds_weixin" data-cmd="weixin"></a>
		<!--<a class="bds_more" data-cmd="more">更多</a>-->
		<a class="bds_count" data-cmd="count"></a>
	</div>
 </p>

 <div class="post">
 <%=raw(@content.content)%>
 </div>
  <%= form_for(Comment.new) do |f| %>

      <div style=" width:90%; margin: 0 auto; margin-top: 50px; border-top: 2px dashed #C4CDE0;">
        <br><%= current_user.username if current_user %> 要不要说点什么？<br>

          <%=f.text_area :comment, placeholder: "留个印记吧...", cols:30, rows:5%>
          <%=f.hidden_field :commentable_type, :value => @content.class.to_s%>
          <%=f.hidden_field :commentable_id, :value => @content.id%><br>
          <%=f.submit "评论",  :class=>"pure-button pure-button-xsmall pure-button-primary" %>
      </div>

      <a name="comments"></a>
    <% @comments.each{|c| %>
    <% def relative_time(start_time)
         diff_seconds = (Time.now - start_time).to_i
         case diff_seconds
           when 0 .. 59
             "1分钟之内"
           when 60 .. (3600-1)
              "#{diff_seconds/60}分钟前"
           when 3600 .. (3600*24-1)
              "#{diff_seconds/3600}小时前"
           when (3600*24) .. (3600*24*30)
              "#{diff_seconds/(3600*24)}天前"
           else
              start_time.strftime("%Y-%m-%d")
         end
       end %>
          <div style=" width:90%; margin: 0 auto; margin-top: 50px; border-top:  1px solid #e6eaed;">
       <%= c.user.username if c.user %> • <%= relative_time(c.created_at)  %><%#time_ago_in_words(c.created_at)%> <br>
       <%= c.comment %>
          </div>
    <% } %>


  <% end %>

</div>

<script>
  <% if is_mobile_request? %>
  $(document).ready(function(){
      var w = window,
              d = document,
              e = d.documentElement,
              g = d.getElementsByTagName('body')[0],
              x = w.innerWidth || e.clientWidth || g.clientWidth,
              y = w.innerHeight|| e.clientHeight|| g.clientHeight;
      //alert(x+'×'+y);
      

    var images = document.getElementsByTagName('img');
    for(var i=0;i < images.length;i++){
        images[i].style.cssText = 'max-width:90%;min-width:100px;'
    }

  });
  <% end %>
<%

def mini_str(str)
    str.gsub!(/[\n \t\r]/m, '')
    str
end

    if @content.cover
	   cover = @content.cover
	   cover = "/"+cover unless cover[0] == '/' || cover.include?('http://')
    end
%>
	window._bd_share_config = {
		common : {
			bdText: "【<%= @content.title %>】<%= raw mini_str(@content.description) %>",
			bdPic : '<%=cover%>'
		},
		share : [{
			"bdSize" : 24
		}],
	}

	//以下为js加载部分
	with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>