<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> - 父母刊</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" alog-group="log-header">
  <div class="header-content">
    <div id="menu"><a href="/">精选</a>
      <% if can? :manage, :Content %>
          <a href="/submit">投稿</a>
      <% end %>
    </div>
    <div id="usrbar">
      <!--<a href="/bigbrother">互联网大企业</a>|<a href="/people">人物</a>|<a href="/security">安全</a>|<a href="/code">编程</a>|<a href="/cool">创意</a>|<a href="/webmaster">站长</a>|<a href="/newbie">杂七杂八</a>-->
      <% if user_signed_in? do
           if can? :manage, :Content do %>
      <a href="/check">审核</a>|<a href="/all">所有文章</a>|
        <% end% %>
      <%= link_to "退出登录", destroy_user_session_path, :method => :delete %><%= link_to current_user.login, edit_user_registration_path %></font>
    <%
        else
      %>
      <a href="/users/sign_in">登陆</a>|<a href="/users/sign_up">注册</a>
      <%
        end
      %>
    </div>
    <div class="top-main"><h1 class="title"><a href="/">父母刊</a></h1></div>
  </div>  
</div>

<div class="clearfix" id="body">
  <p class="notice"><%= notice %></p>
  <p class="alert" style="color:red;"><%= alert %></p>
  <%= yield %>
</div>

<div id="footer" alog-group="log-footer">
  <p class="site-info">
  <a href="https://github.com/LubyRuffy">github.com/LubyRuffy</a><br />
  <a href="https://twitter.com/LubyRuffy">twitter.com/LubyRuffy</a><br />
  </p>
</div>
</body>
</html>
